# === Python cache & build ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# === Virtual environment ===
venv/
.env/
.env.*  # misal .env.local, dll

# === Logs ===
logs/
*.log

# === Data / vector store / heavy files ===
data/
data/chromaa_db/

# === OS / Editor files ===
.DS_Store
.vscode/
.idea/
